.heading{
  text-align: center;
  padding-bottom: 30px;
}
.taskAddList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black !important; */
}
.addButton{
  border: none !important;
  padding: 10px 30px;
  font-weight: 500;
  background-color: aqua;
  border-radius: 5px;
}
.addButton a{
text-decoration: none;
color: black;
}
.serarch input{
height: 45px;
width: 600px;
background: none;
outline: none;
border: 1px solid darkgray;
padding: 5px;
border-radius: 5px;
font-size: 18px;
}
.priorityClass{
  height: 40px;
}
.filteringOptions{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterStatus button{
  border: none !important;
  padding: 10px 30px;
  font-weight: 500;
  background-color: aqua;
  border-radius: 5px;
  margin-right: 5px;
}
.allActions {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}
.addTaskHeader{
  text-align: center;
  margin-bottom: 40px;
}
.addTitle input{
  width: 70%;
  height: 45px;
  outline: none;
  font-size: 18px;
  padding: 5px;
}
.taskDesc textarea{
  margin-top: 10px;
  width: 70%;
  outline: none;
  font-size: 18px;
  padding: 5px;
}
.titleLink{
  text-decoration: none !important;
  color: black;
}
.priority-low {
  background-color: green !important;
}
.priority-medium {
  background-color: yellow  !important;
}
.priority-high {
  background-color: red !important;
}
.activeTab {
  background-color: black !important;
  color: white;
}